body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  height: 1vh;
  padding: 20px;
}

.image-container,
.box-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-container {
  justify-content: flex-start; /* Align images to the top */
}

.image-container img {
  width: 100px;
  height: auto;
  margin: 10px 0; /* Margin for vertical spacing */
}

.box-container {
  justify-content: flex-start; /* Center the boxes vertically */
  align-items: flex-end; /* Align the boxes to the right */
}

.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Margin for vertical spacing */
  color: #fff;
  font-size: 1.5em;
  border-radius: 8px;
}

#box1 {
  background-color: #ff6347; /* Tomato */
}

#box2 {
  background-color: #4682b4; /* SteelBlue */
}

#box3 {
  background-color: #32cd32; /* LimeGreen */
}

#box4 {
  background-color: #ffa500; /* Orange */
}

#box5 {
  background-color: #6a5acd; /* SlateBlue */
}
