body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 1vh;
  padding: 20px;
}

.image-container,
.box-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-container {
  justify-content: flex-start;
}

.image-container img {
  width: 100px;
  height: auto;
  margin: 10px 0;
}

.box-container {
  justify-content: flex-start;
  align-items: flex-end;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: #fff;
  font-size: 1.5em;
  border-radius: 4-px;
}

#box1 {
  background-color: #ff6347; /* Tomato */
}

#box2 {
  background-color: #4682b4; /* SteelBlue */
}

#box3 {
  background-color: #32cd32; /* LimeGreen */
}

#box4 {
  background-color: #ffa500; /* Orange */
}

#box5 {
  background-color: #6a5acd; /* SlateBlue */
}
